.idea/
wp-content/ai1wm-backups/
wp-content/wflogs/
wp-content/cache/
/wp-content/upgrade/
/wp-content/plugins/all-in-one-wp-migration/storage/
/wp-config.php
/wp-content/uploads/
/wp-content/themes/tables/js/config.js
